[submodule "electron-basic-updater"]
	path = electron-basic-updater
	url = /Users/lynnzheng/Desktop/repl.it/src/electron-basic-updater
[submodule "electron-preferences"]
	path = electron-preferences
	url = /Users/lynnzheng/Desktop/repl.it/src/electron-preferences
